.search-heading {
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
}

.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.course-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
